@model ErrorViewModel
@{
    ViewData["Title"] = "Home Page";
}
<header>

</header>

<body>
    <div class="text-center">
        <h1 class="display-4">Nope</h1>
        <p>@Model.Message</p>
        <br />
    </div>
</body>

<footer>

</footer>

