@model URLViewModel
@{
    ViewData["Title"] = "Result";
}

<header>

</header>

<body>
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <br />
        <p>Here is your Pretty url</p>

        <a href=@Model.PrettyUrl>@Model.PrettyUrl</a>
    </div>
    <div>
        Press 'Home' to do it again!
    </div>
</body>

<footer>

</footer>

